<div class="mainform" name="createchecklistform">
    <div class="">
        <div class="row">
            <div class="card checklist-details p-0 border-0">
                <div class="card-header align-padding fw-bold">
                    Checklist Details
                </div>
                <div class="form">
                    <div class="mb-3">
                        <label for="" class="form-label">Brand</label>
                        <ng-select [items]="brand" bindLabel="name" placeholder="Please select the brand">
                        </ng-select>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Display Name</label>
                        <input type="text" name="displayName" class="form-control" placeholder="Please enter the display name">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Cheklist Type</label>
                        <ng-select [items]="checklistType" bindLabel="name" placeholder="Please select the cheklist type">
                        </ng-select>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Role</label>
                        <ng-select [items]="role" bindLabel="name" placeholder="Please select the role">
                        </ng-select>
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Area (Multiselect)</label>
                        <ng-select [items]="areas" [multiple]="true" bindLabel="name" placeholder="Please select the area">
                        </ng-select>
                    </div>
                </div>

            </div>
            <div class="card checklist-details p-0 border-0">
                <div class="card-header align-padding fw-bold">
                    Questions
                </div>
                <div class="form">
                    <div class="mb-3">
                        <label for="" class="form-label">Questions (Multiselect)</label>
                        <ng-select [items]="areas" [multiple]="true" bindLabel="name" placeholder="Please Select the list of questions">
                        </ng-select>
                    </div>

                </div>

            </div>
            <div class="card checklist-details p-0 border-0">
                <div class="card-header align-padding fw-bold">
                    Scheduling
                </div>
                <div class="form">
                    <div class="mb-2">
                        <label for="" class="form-label">Schedule Type</label>
                    </div>

                    <div class="col">
                        <label class="col" *ngFor="let radiobutton of typeOfSchudule">
              <span class="d-flex align-center">
                <input type="radio" name="options" (change)="changeSchuduleType(model.option)"
                  (click)="model.option = radiobutton" [checked]="radiobutton === model.option"><span
                  class="mx-2">{{radiobutton}}</span>
              </span>
            </label>
                        <div class="col">
                            <label class="fontandweight">First Start Time</label>
                            <ngb-timepicker class="datetimepiker" name="" [(ngModel)]="time" [meridian]="meridian" />
                            <label class="fontandweight">Active Duration</label>
                            <input type="text" name="activeDurations" class="form-control inputwidth" placeholder="Active Duration">
                            <label class="fontandweight">Start date</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" />
                                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                            </div>
                        </div>
                    </div>

                    <div class="float-end">
                        <button type="button" class="btn btn-primary ecolab-col text-right">Next</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>